body {
    background-color: #000000;
    color: #ffffff;
    font-size: 24px;
}

.desc,
li
{
    font-family: Arial, Helvetica, sans-serif;
}

.index {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

img {
    height: 300px;
    width: auto;
}